<div class="row">
  <div class="col-3">
    <h3 class="m-2">Global Edit</h3>
  </div>
</div>
<div class="row">
  <div class="col-12 alert alert-success" *ngIf="success">
    <p>Data has been saved</p>
  </div>
  <div class="col-12 alert alert-danger" *ngIf="error">
    <p>Data has not been saved</p>
  </div>
  <form class="col-12" #globalForm="ngForm" (submit)="onSubmit(globalForm)" novalidate>
    <div class="form-group">
      <label for="globalSessionMapper">Session mapper</label>
      <input type="text" class="form-control" id="globalSessionMapper" name="globalSessionMapper" required="required" [(ngModel)]="globalSessionMapper">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
</div>