<div class="row">
  <div class="col-3">
    <h3 class="m-2">Emitter edit</h3>
  </div>
</div>
<div class="row">
  <form class="col-12" (submit)="onSubmit()" [formGroup]="emitterDetailsForm" novalidate>
    <div class="form-group">
      <label for="emitter-type">Type</label>
      <input type="text" id="emitter-type" class="form-control" formControlName="type">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" id="emitter-active" class="form-check-input" formControlName="active">
      <label for="emitter-active">Active</label>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" id="emitter-collect-metrics" class="form-check-input" formControlName="collectMetrics">
      <label for="emitter-collect-metrics">Collect metrics</label>
    </div>

    <!--
      TODO: Can be separate component which checks which plugins should be loaded
    -->
    <app-emitters-edit-pcap [parent-form]="emitterDetailsForm" [emitter-details]="emitterDetails" *ngIf="emitterDetails.type == 'pcap'"></app-emitters-edit-pcap>
    <app-emitters-edit-socket [parent-form]="emitterDetailsForm" [emitter-details]="emitterDetails" *ngIf="emitterDetails.type == 'socket'"></app-emitters-edit-socket>

    <div class="form-group">
      <a routerLink=".." class="m-2 btn btn-danger">Cancel</a>
      <button type="submit" class="m-2 btn btn-success" [disabled]="! emitterDetailsForm.valid">Next</button>
    </div>
  </form>
</div>