<div class="row">
  <div class="col-3">
    <h3 class="m-2">Emitter edit</h3>
  </div>
</div>
<div class="row">
  <form (submit)="onSubmit(emitterForm)" #emitterForm="ngForm" class="col-12" novalidate>
    <div class="alert alert-danger" *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </div>
    <div class="form-group">
      <label for="emitter-type">Type</label>
      <input type="text" class="form-control" name="emitter-type" id="emitter-type" disabled="disabled" [(ngModel)]="emitterDetails.type" #emitterType="ngModel">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" name="emitter-active" id="emitter-active" class="form-check-input" [(ngModel)]="emitterDetails.active" #emitterActive="ngModel">
      <label for="emitter-active" class="form-check-label">Active</label>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" name="emitter-collect-metrics" id="emitter-collect-metrics" class="form-check-input" [(ngModel)]="emitterDetails.collectMetrics" #emitterCollectMetrics="ngModel">
      <label for="emitter-collect-metrics" class="form-check-label">Collect metrics</label>
    </div>
    <app-emitters-edit-pcap [parent-form]="emitterForm" [emitter-details]="emitterDetails" *ngIf="emitterDetails.type == 'pcap'"></app-emitters-edit-pcap>
    <app-emitters-edit-socket [parent-form]="emitterForm" [emitter-details]="emitterDetails" *ngIf="emitterDetails.type == 'socket'"></app-emitters-edit-socket>
    <div class="form-group">
      <a routerLink=".." class="m-2 btn btn-danger">Cancel</a>
      <button type="submit" class="m-2 btn btn-success">Next</button>
    </div>
  </form>
</div>