<div class="row">
  <div class="col-3">
    <h3 class="m-2">Emitters</h3>
  </div>
  <div class="offset-6"></div>
  <div class="col-3">
    <a routerLink="add" class="m-2 btn btn-success">Add new</a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Active</th>
          <th>Collect Metrics</th>
          <th>Buffer Size</th>
          <th>Connection Timeout</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>