<div class="row">
  <div class="col-3">
    <h3 class="m-2">Emitters</h3>
  </div>
  <div class="offset-6"></div>
  <div class="col-3">
    <a routerLink="add" class="m-2 btn btn-success">Add new</a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped" *ngIf="emitters && emitters.length > 0">
      <thead>
        <tr>
          <th>Type</th>
          <th>Active</th>
          <th>Collect Metrics</th>
          <th>Device</th>
          <th>Buffer Size</th>
          <th>Connection Timeout</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emitter of emitters">
          <td>{{emitter.type}}</td>
          <td>{{emitter.active}}</td>
          <td>{{emitter.collectMetrics}}</td>
          <td>{{emitter.device}}</td>
          <td>{{emitter.bufferSize}}</td>
          <td>{{emitter.connectionTimeout}}</td>
          <td>
            <button class="m-2 btn btn-warning" (click)="doEdit(emitter)">Edit</button>
            <button class="m-2 btn btn-danger" (click)="doDelete(emitter)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-2 alert alert-secondary" *ngIf="! emitters || emitters.length == 0">
      <p>At least 1 emitter is required</p>
    </div>
  </div>
</div>